<!-- begin details -->
<div class="details">
	<div class="details-address">
		<div class="details-address__container">
			<div class="details-address__content">
				<div class="details-address__title">934 St Charles Ave NE</div>
				<div class="details-address__meta">Atlanta, Ga, 30306</div>
			</div>
			<div class="details-address__map js-map"></div>
		</div>
	</div>
	<ul class="details-list">
		{% for item in [
			{
				label: 'Frequency',
				value: 'Weekly',
				edit: true,
				btnIconOptions: {classList: 'details-list__btn-icon'},
				selectOptions: {
					options: ['Bi-weekly', 'Bi-weekly']
				}
			},
			{
				label: 'Bin Option',
				value: 'Bin Only',
				edit: true,
				btnIconOptions: {classList: 'details-list__btn-icon'},
				selectOptions: {
					options: ['Bi-weekly', 'Bi-weekl1']
				}
			},
			{
				label: 'MRR',
				value: '$19',
				edit: true,
				btnIconOptions: {classList: 'details-list__btn-icon'},
				selectOptions: {
					options: ['Bi-weekly', 'Bi-weekly']
				}
			},
			{
				label: 'First Pickup',
				value: '05/07/2018',
				btnIconOptions: {classList: 'details-list__btn-icon'}
			},
			{
				label: 'Assigned Day',
				value: 'WED',
				edit: true,
				btnIconOptions: {classList: 'details-list__btn-icon'},
				selectOptions: {
					options: ['Mon', 'Mon12']
				}
			},
			{
				label: 'Next Pickup',
				value: '5/23/2018',
				btnIconOptions: {classList: 'details-list__btn-icon'}
			}
		] %}
			<li class="details-list__item js-edit">
				<div class="details-list__label">{{item.label}}:</div>
				<div class="details-list__value">{{item.value}}</div>
				{{btnIcon.call(item.btnIconOptions)}}
				{% if item.edit %}
					<button class="details-list__edit js-edit-control">edit</button>
				{% endif %}
				<div class="details-list__select">
					{{mixins.select(item.selectOptions)}}
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
<!-- end details -->
