<!-- begin history -->
<div class="history">
	<ul class="sm-info history__sm-info">
		{% for item in [
			{ number: '5', label: 'Pickups' },
			{ number: '28', label: 'Days' },
			{ number: '515', label: 'Scrap Points' }
		] %}
			<li class="sm-info__item">
				<div class="sm-info__number">{{item.number}}</div>
				<div class="sm-info__label">{{item.label}}</div>
			</li>
		{% endfor %}
	</ul>
	<div class="form history__form">
		<div class="form__col form__col_date">
			<input type="text" class="input">
		</div>
		<div class="form__col form__col_number">
			<input type="text" class="input">
		</div>
		<div class="form__col form__col_select">
			{{mixins.select({
				options: [ 'Success', 'Missed' ]
			})}}
		</div>
		<div class="form__control">
			
		</div>
	</div>
</div>
<!-- end history -->