body
	min-width: 320px
	background: #FFF
	color: #002257
	font-family: $opensans
	+f(15px, 400, 1.4)

.out
	display: flex
	+lg
		flex-wrap: wrap
	+md
		display: block

.menu,
.aside,
.main
	overflow: auto
	height: 100vh

.aside,
.main
	+lg
		height: calc(100vh - 70px)
	+md
		height: auto

.menu
	width: 244px
	+lg
		padding: 0
		width: 100%
		height: 70px
	+md
		height: auto

.aside
	width: 400px
	+lg 
		width: 100%

.main
	flex-grow: 1

.title-lg
	color: #37394C
	+f(24px, 400, 33px)

[hidden],
.is-hidden
	display: none !important