.main
	padding: 40px 32px 18px
	background: #f8f9fb
	&__inner
		margin: 0 auto
		max-width: 754px
		+clr
	&__header
		margin-bottom: 38px
		+clr 
	&__title
		float: left
		padding: 1px 32px 5px 0
	&__search
		position: relative
		float: left
		padding-left: 33px
		width: 100%
		max-width: 408px
		&:before
			content: ''
			position: absolute
			top: 4px
			left: 0
			bottom: 4px
			border-left: 1px solid rgba(#535285, 0.06)