.profile
	&__container
		display: block
		text-decoration: none
		+clr
	&__figure
		float: left
		width: 64px
		height: 64px
		+vertical
	&__logo
		font-size: 64px
		display: inline-block
		vertical-align: middle
	&__img
		border-radius: 50%
		background-position: center center
		background-size: cover
	&__content
		margin-left: 64px
		padding: 10px 0 15px 25px
	&__title
		position: relative
		display: inline-block
		color: $white
		margin-bottom: 5px
		padding-right: 14px
		+f(15px, 600, 1.34)
		&:before
			content: ''
			position: absolute
			top: 8px
			right: 0
			width: 6px
			height: 6px
			border-radius: 6px
			background: #f05692
		&.is-active
			&:before
				background: $cool-green
	&__meta
		color: #c0c9d7
		+f(12px, null, 1.42)
