.icon-angle-down {
  width: 1.82em;
  height: 1em;
  fill: #C1CDD7;
}
.icon-angle-right {
  width: 0.59em;
  height: 1em;
  fill: #C5CCD5;
}
.icon-check {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-checked {
  width: 1.39em;
  height: 1em;
  fill: #F05228;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 0.98em;
  height: 1em;
  fill: #fff;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
