.icon-angle-right {
  width: 0.59em;
  height: 1em;
  fill: #C5CCD5;
}
.icon-check {
  width: 1.36em;
  height: 1em;
  fill: #FFF;
}
.icon-logo {
  width: 0.98em;
  height: 1em;
  fill: #fff;
}
.icon-logout {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
